@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
}

.card {
  background-color: hsl(213, 19%, 18%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 350px;
  width: 350px;
  padding: 20px 25px;
  border-radius: 20px;
}

.star-icon {
  background-color: rgba(58, 70, 85, 0.4);
  border-radius: 50%;
  height: 50px;
  width: 55px;
}

.star-icon img {
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 20px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

.buttons {
  display: flex;
  flex-flow: row;
  position: relative;
  width: auto;
  padding-top: 15px;
}

.rating-button {
  display: inline-block;
  flex: 0 1 calc(20% - 8px);
  border: none;
  margin: auto 10px;
  background-color: rgba(58, 70, 85, 0.4);
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  height: 50px;
  width: 55px;
  flex: 1 1 18%;
}

.active-rating-button {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: white;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  border-radius: 25px;
  letter-spacing: 2px;
}

.submit-button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
